@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #6696A8;
  --swiper-pagination-color: #76ADC2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* *{
  font-family: 'Fira Sans', sans-serif;
}
*/
body {
  color: #1A1A1A;
}

.postcard-article.link--hovered::after{
  background: #4FB06A;
}
.postcard-article::after{
  content: "";
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 75%;
  background: #1A1A1A;
  opacity: 50%;
  transition: background 0.5s ease-in ;

}

.postcard-article__link{
  position: absolute;
  right: 12px;
  bottom: -10px;
}

.h-shadow{
  overflow: hidden;
}
.h-shadow::before{
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  width: 186px;
  background: #bdbdbd;
  height: 100vh;
  z-index: -1;
}
.h-shadow::after{
  content: "";
  position: absolute;
  bottom: -50%;
  left: 8px;
  height: 98px;
  background: #bdbdbd;
  width: 100%;
  z-index: -1;
}